.custom-scrollbar {
    overflow: auto hidden;
    margin: 0 15px 0 0;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(66 153 225 / var(--tw-border-opacity));
    border: 0px none rgb(66 153 225 / var(--tw-border-opacity));
    border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(66 153 225 / var(--tw-border-opacity));
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
}
